@model MyProfile.Models.Experience

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Experience</h1>


<hr />
<div class="row container">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CompanyLogoPath" />
            <div class="row mb-3">
                <div class="form-group col-6">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                 <div class="form-group col-6">
                    <img asp-append-version="true" class="img-thumbnail mb-1" src="@Url.Content("/assets/Image/CompanyLogo/"+Model.CompanyLogoPath)" />
                    <br />
                    <label asp-for="LogoFile" class="control-label"></label>
                    <input asp-for="LogoFile" class="form-control" />
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>      
            </div>
            <div class="row mb-3">
                <div class="form-group col-6">
                    <label asp-for="DateFrom" class="control-label"></label>
                    <input asp-for="DateFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="DateTo" class="control-label"></label>
                    <input asp-for="DateTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ResumeId" class="control-label"></label>
                <select asp-for="ResumeId" class="form-control" asp-items="ViewBag.ResumeId"></select>
                <span asp-validation-for="ResumeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" /> | 
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
